:root {
  --color-background: #ede3ff;
  --color-text: #00005a;
  --color-status-label: #3c91ff;
  --color-status-label-completed: #ddfff9;
  --color-status-label-completed-text: #00c7a4;
  --color-primary-gradient: linear-gradient(90deg, #ff9345, #fe4670);
  --color-white: #ffffff;
  --color-saxophone: #ffebdc;
  --color-dolphin: #dff4ff;
  --color-sakura: #ffe0e7;
  --color-scooter: #f2ffa0;

  --title-font-size: 36px;
  --subtitle-font-size: 24px;
  --base-font-size: 16px; 
  --label-font-size: 12px;
  --primary-button-font-size: 14px;
}

@font-face {
  font-family: 'GT Maru';
  src:
    url('@/assets/fonts/GTMaru-Regular-Trial.woff2') format('woff2'),
    url('@/assets/fonts/GTMaru-Regular-Trial.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'GT Maru', sans-serif;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: var(--base-font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
